################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/src/medusa/obj/Debug
/src/.vs/medusa/v16/Server/sqlite3
/src/.vs/medusa/v16
/src/medusa/bin/Debug
