<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="medusa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <medusa.Properties.Settings>
            <setting name="BackgroundColorR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundColorG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackgroundColorB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarkerColorR" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="MarkerColorG" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="MarkerColorB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarkerSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MarkerSpeed" serializeAs="String">
                <value>1</value>
            </setting>
        </medusa.Properties.Settings>
    </userSettings>
</configuration>